header {
  background-color: white;
  border:1px solid black;
  font-family: candara;
  width:100%;  
}

a:link {
  color: black; 
  text-decoration: None;
}

a:visited {
  color: black; 
  text-decoration: None;
}

a:hover {
  color: red; 
  border-radius:2px;
  text-decoration: None;
}

a:active {
  color: black; 
  text-decoration: None;
}

#tdlandmarkprojects1 {
  border:1px solid black;
  font-size:20px;
  width:8%;
  text-align:center;
}

#tdlandmarkprojects2 {
  border:1px solid black;
  font-size:20px;
  width:57%;
}

#tdlandmarkprojects3 {
  border:1px solid black;
  font-size:20px;
  width:45%;
}



#tablefooter {
  border:1px solid black;
  border-collapse:collapse; 
  font-family:candara;
  width:100%;
  background-color: white;
}

#tdfooter1 {
  width:65%;
}

#tdfooter2 {
  width:35%;
}


  
  

